

body{
    background-color: white;
    margin: 0 0 0 12%;
    padding: 0;
    background-color: #272424;
}
a{
    cursor: pointer;
    text-decoration: none;
}
button{
    cursor: pointer!important;
}
.navbar{
    position: fixed;

    background-color: #4D869C;
}
nav{
    position: absolute;
    top: 5vh;
    display: flex;
    width: 100%;
    height: 75vh;
    align-items: center;
}
nav p{
    text-align: center;
    color: #EEF7FF;
}
nav li {
    list-style: none;
}
li a{
    color: #B4B4B8;
}
#logoli img{
    border-radius: 50%;
    transition: transform 0.7s ease;
}

#logoli{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logoli p{
    font-weight: bold;
    text-align: center;
    color: #FFF;
}
#logoli img:hover{
    box-shadow: 1px 2px 5px hsla(0, 0%, 0%, 0.387), -1px -2px 5px hsla(0, 0%, 0%, 0.387);
    transform: scale(1.07);
}
li a img{
    height: 32px;
    width: 32px;
    margin-bottom: 0;
}
li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
}
li a p{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    color: #CDE8E5;
    transition: opacity 0.7s ease;
}

li a:hover p{
    visibility: visible;
    position: relative;
    opacity: 1;
}
li a:hover img{
    transform: translateY(10px);
}


.Home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 85vh;
    color: #000;
}

.Home > img{
    width: 500px;
    height: 450px;
    justify-self: left;
    transition: transform 1s ease;
}
.Home > img:hover{
    transform: scale(1.02);
}
.Home div{
    margin: 0 20px;
}
.Home h1{
    font-size: 2.5rem;
    color: white;
    line-height: 3rem;
    font-weight: 100 ;
}
.Home h1 span{
    color: #4D869C;
    font-weight: bold;
}
.Home p{
    font-size: 1.3rem;
    line-height: 1.7rem;
    margin-bottom: 50px;
    text-align: center;

}
 .Home .button{
    border: 0;
    border-radius: 15px;
    background-color: transparent;
    margin-top: 5vh;
    color: #4D869C;
    border: 1px solid #4D869C;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    height: 2rem;
    width: 10rem;
    transition: background-color 0.5s ease, color 0.5s ease ;

}
.Home button:hover{
    background-color: #4D869C;
    color: white;
} 



.media-div{
    margin: 30px 0 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
    position: relative;
}
 .media-div a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* border: 1px solid #EEF7FF; */
    border-radius: 10px;
    margin: auto;
    transition: background-color 0.7s ease;
}
 .media-div a:hover{
    background-color: #7ab2b230;
    
}
 .social-media{
    width: 25px;
    height: 25px;
}

.list{
    visibility: hidden;
}



.About{
    background-color: #CDE8E5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100vh;
}

.About > img{
    height: 392;
    width: 321;
    border-radius: 10px;
    justify-self: left;
    filter: grayscale(30%) contrast(110%);
    transition: transform 1s ease, box-shadow 0.5s ease;

}
.About img:hover{
    box-shadow: 1px 2px 5px hsla(0, 0%, 0%, 0.387), -1px -2px 5px hsla(0, 0%, 0%, 0.387);
    transform: scale(1.003);
}

.About div{
    width: 50%;
    height: 540px;
}

.About h1{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 50px;
    color: #256527;
}

.About p{
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-bottom: 50px;
}

.About table{
    width: 100%;
    text-align: left;
    font-size: 1.1rem;
}

.About table th, td{
    height: 2rem;
    padding: 0 50px 0 0;
}

#myname{
    text-align: right;
    color: #0b2d0c;
}

.About h2{
    color: rgb(125, 125, 35);
}

#myname span{
    font-size: 1.2rem;
    color: gray;
}

.Projects{
    /* background-color: #CDE8E5; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100vh;
    padding: 0 50px;

}

.Projects .project-grid{
    display: grid;
    height: 80vh;
    width: 100%;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
    gap: 50px;
}

.Projects .project{
    position: relative;
    background-color: #012e40;
    border-radius: 20px;
    background-size: cover;
    transition: background-color 0.5s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.Projects .project:hover{
    background-color: #042a39;
}

.Projects .project h1{
    position: absolute;
    font-size: 2rem;
    text-align: center;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    color: white;
}

.Projects .project:hover h1{
    opacity: 0;
    visibility: hidden;
}

.Projects .project p{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;

    margin: 0 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: white;
}

.Projects .project:hover p{
    opacity: 1;
    visibility: visible;
}

.Projects .project .visit.button{
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease, background-color 0.5s ease;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    background-color: transparent;
    color: white;
    border: 1px solid #a712ec;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    height: 2rem;
    width: 50%;
    

}

.Projects .project:hover .visit.button{
    opacity: 1;
    visibility: visible;
}

.Projects .project:hover .visit.button:hover{
    background-color: #a712ec;
}





.Projects .project img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    opacity: 0.2;
    transition: opacity 0.5s ease;
}


.Projects .project:hover img{
    opacity: 0;
}







@media(max-width: 1100px){
    body{
        padding-top: 5vh;
    }
    .Home > img{
        display: inline-block;
        justify-self: center;
        width: 250px;
        height: 250px;
    }
    .Projects{
        height: 100vh;
    }
    .project-grid{
        grid-template-columns: repeat(2, 1fr)!important;
        grid-template-rows: repeat(3, 1fr)!important;

    }
}
@media(max-width: 950px){
    .Home{
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
}

@media(max-width: 650px){
    body{
        padding: 0px;
        padding-top: 5vh;
        padding-right: 10%;
        overflow-x: hidden;
    }
    .navbar{
        visibility: hidden;
    }
    .Home > img{
        margin-left: 25px;
    }
    .Home h1{
        font-size: 2rem;
    }

    .media-div{
        margin-top: 40px;
    }
    .list{
        visibility: visible;
        position: fixed;
        top:10;
        left: 10px;
        border: 0;
        background-color: transparent;
    }
    .list:active + .navbar{
        width: 100%;
        visibility: visible;
    }
    .list:active ~ *:not(.navbar){
        visibility: hidden!important;
    }
    .button{
        width: 100%!important;
        height: 7vh!important;
        margin-bottom: 10px;
    }

    .About{
        flex-direction: column;
    }
    .About > img{
        height: 432px;
        width: 338.4px;

    }
    .project-grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr)!important;

    }
}


